/* palette */
:root 
{
	--color-neutra: #ffffff;
	--color-primary: #1a1a1a;
	--color-secondary: #ff6900;
	--color-discount: #ff0000;
	--color-sostenibility: #008000;
}

/* reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* utilities */
/* .debug 
{
    border: 1px solid blue;
} */


/* flex-utilities */
.dflex 
{
    display: flex;
    flex-flow: row wrap;
}

.j-around 
{
    justify-content: space-around;
}

.j-between
{
    justify-content: space-between;
}

.a-center 
{
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* general */
body
{
    font-size: 13px;
}
ul
{
    list-style: none;
}

a
{
    display: inline-block;
    text-decoration: none;
    padding-right: 10px;
    color: var(--color-neutra);
}

.container
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
    position: relative;
}

/*  HTML */
/* header */
header
{
    background-color: var(--color-secondary);
    padding: 15px 0 10px 0;
    margin-bottom: 40px;
    height: 47px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#logo
{
    width: 100px;
    vertical-align: middle;
}

/* main */
main
{
    margin-top: 100px;
    margin-bottom: 20px;
}
.card
{
    width: calc(100% / 3);
    padding: 0 20px 40px 0;
    min-width: 250px;
}

.img-section
{
    position: relative;
}

.img-section img
{
    width: 100%;
    display: block;
}


.heart
{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: var(--color-neutra);
    font-size: 1.3em;
    padding: 10px;
}

.info
{
    position: absolute;
    left: 0;
    bottom: 40px;
}

.box
{
    color: var(--color-neutra);
    display: inline-block;
    padding: 5px;
}

.discount
{
    background-color: var(--color-discount);
}

.sostenibility
{
    background-color: var(--color-sostenibility);
}

h3
{
    font-size: 0.9em;
}

h4
{
    text-transform: uppercase;
    font-size: 1.1em;
}

.price
{
    color: var(--color-discount);
    font-size: 0.9em ;
}

.right
{
    font-size: 1.1em;
}

.deleted
{
    text-decoration: line-through;
    font-size: 0.9em;
}

/* heart hover effect */
.heart > span:hover
{
    color: var(--color-discount);
    cursor: pointer;
}

/* img hover effect */
.card {
    position: relative;
    display: inline-block;
}
.card .back {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.card:hover .back {
    display: inline;
}


/* footer */
footer 
{
    background-color: var(--color-primary);
    color: var(--color-neutra);
    padding: 20px;
}

footer ul
{
    padding: 6px 0;
}


